In [63]:
import csv
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_log_error
# Importamos utilidades y modelos de sklearn
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split
import xgboost as xgb

# Se levanta el set de train generado

In [64]:
data_set = pd.read_csv("train_set_xgb.csv")
#X = data_set.loc[:, (data_set.columns != 'precio') & (data_set.columns != 'factor_pm')]
X = data_set.loc[:, (data_set.columns != 'precio')]
y = data_set.loc[:, ['precio']]

In [65]:
data_set.columns

Index(['id', 'precio', 'tipodepropiedad_1', 'tipodepropiedad_2',
       'tipodepropiedad_3', 'tipodepropiedad_4', 'tipodepropiedad_5',
       'tipodepropiedad_6', 'tipodepropiedad_7', 'tipodepropiedad_8',
       'tipodepropiedad_9', 'tipodepropiedad_10', 'tipodepropiedad_11',
       'tipodepropiedad_12', 'tipodepropiedad_13', 'tipodepropiedad_14',
       'tipodepropiedad_15', 'tipodepropiedad_16', 'tipodepropiedad_17',
       'tipodepropiedad_18', 'tipodepropiedad_19', 'tipodepropiedad_20',
       'tipodepropiedad_21', 'tipodepropiedad_22', 'tipodepropiedad_23',
       'tipodepropiedad_24', 'tipodepropiedad_25', 'provincia_1',
       'provincia_2', 'provincia_3', 'provincia_4', 'provincia_5',
       'provincia_6', 'provincia_7', 'provincia_8', 'provincia_9',
       'provincia_10', 'provincia_11', 'provincia_12', 'provincia_13',
       'provincia_14', 'provincia_15', 'provincia_16', 'provincia_17',
       'provincia_18', 'provincia_19', 'provincia_20', 'provincia_21',
       'provincia_22', 'provincia_23', 'provincia_24', 'provincia_25',
       'provincia_26', 'provincia_27', 'provincia_28', 'provincia_29',
       'provincia_30', 'provincia_31', 'provincia_32', 'usosmultiples',
       'piscina', 'escuelascercanas', 'centroscomercialescercanos',
       'antiguedad', 'metrostotales', 'metroscubiertos', 'garages', 'banos',
       'lat', 'lng', 'metroscubiertos_mean_tipodeprop',
       'metroscubiertos_var_tipodeprop', 'precio_mean_tipodeprop',
       'precio_var_tipodeprop'],
      dtype='object')

In [66]:
X.columns

Index(['id', 'tipodepropiedad_1', 'tipodepropiedad_2', 'tipodepropiedad_3',
       'tipodepropiedad_4', 'tipodepropiedad_5', 'tipodepropiedad_6',
       'tipodepropiedad_7', 'tipodepropiedad_8', 'tipodepropiedad_9',
       'tipodepropiedad_10', 'tipodepropiedad_11', 'tipodepropiedad_12',
       'tipodepropiedad_13', 'tipodepropiedad_14', 'tipodepropiedad_15',
       'tipodepropiedad_16', 'tipodepropiedad_17', 'tipodepropiedad_18',
       'tipodepropiedad_19', 'tipodepropiedad_20', 'tipodepropiedad_21',
       'tipodepropiedad_22', 'tipodepropiedad_23', 'tipodepropiedad_24',
       'tipodepropiedad_25', 'provincia_1', 'provincia_2', 'provincia_3',
       'provincia_4', 'provincia_5', 'provincia_6', 'provincia_7',
       'provincia_8', 'provincia_9', 'provincia_10', 'provincia_11',
       'provincia_12', 'provincia_13', 'provincia_14', 'provincia_15',
       'provincia_16', 'provincia_17', 'provincia_18', 'provincia_19',
       'provincia_20', 'provincia_21', 'provincia_22', 'provincia_23',
       'provincia_24', 'provincia_25', 'provincia_26', 'provincia_27',
       'provincia_28', 'provincia_29', 'provincia_30', 'provincia_31',
       'provincia_32', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'antiguedad', 'metrostotales',
       'metroscubiertos', 'garages', 'banos', 'lat', 'lng',
       'metroscubiertos_mean_tipodeprop', 'metroscubiertos_var_tipodeprop',
       'precio_mean_tipodeprop', 'precio_var_tipodeprop'],
      dtype='object')

In [67]:
y.columns

Index(['precio'], dtype='object')

# Se convierten los datos a DMatrix

In [68]:
data_DMatrix = xgb.DMatrix(data = X, label = y)

# Se separa en train y en test

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [70]:
len(X_train)

179965

In [71]:
len(X_test)

59989

# Se define y entrena el modelo con el set de train

In [72]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', 
                colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 100)

In [73]:
xg_reg.fit(X_train,y_train)

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

# Se calcula la prediccion del set de test y del set de entrenamiento tambien

In [74]:
pred_train = xg_reg.predict(X_train)

In [75]:
pred_test = xg_reg.predict(X_test)

# Se evaluan ambas predicciones

## Como metrica se utiliza RMSLE (cuanto mas cercano a 0, mejor)

In [76]:
rmsle_train = np.sqrt(sklearn.metrics.mean_squared_log_error(y_train, pred_train))
rmsle_test = np.sqrt(sklearn.metrics.mean_squared_log_error(y_test, pred_test))
print("RMSLE train: "+str(rmsle_train))
print("RMSLE test: "+str(rmsle_train))

ValueError: Mean Squared Logarithmic Error cannot be used when targets contain negative values.

## Metrica de Mean Absolute Error (La de Kaggle) ?? (Hay que preguntar)

In [77]:
mae_train = np.sqrt(sklearn.metrics.mean_absolute_error(y_train, pred_train))
mae_test = np.sqrt(sklearn.metrics.mean_absolute_error(y_test, pred_test))
#print(f"MAE train: {mea_train:.5f}")
#print(f"MAE test: {mea_test:.5f}")
print("MAE train: "+str(mae_train))
print("MAE test: "+str(mae_test))

MAE train: 853.9175143027794
MAE test: 855.5887207438703

# Se genera el archivo con las predicciones a subir a Kaggle

In [78]:
test_set = pd.read_csv("test_set_xgb.csv")

In [79]:
test_set.head()

,id,tipodepropiedad_1,tipodepropiedad_2,tipodepropiedad_3,tipodepropiedad_4,tipodepropiedad_5,tipodepropiedad_6,tipodepropiedad_7,tipodepropiedad_8,tipodepropiedad_9,...,metrostotales,metroscubiertos,garages,banos,lat,lng,metroscubiertos_mean_tipodeprop,metroscubiertos_var_tipodeprop,precio_mean_tipodeprop,precio_var_tipodeprop
0,4941,1,0,0,0,0,0,0,0,0,...,NaN,300.0,NaN,4.0,19.408668,-99.246767,193.814888,9797.989886,2.398158e+06,3.997227e+12
1,51775,0,1,0,0,0,0,0,0,0,...,67.0,67.0,1.0,1.0,21.032480,-89.592424,116.138123,4425.701226,2.763769e+06,5.488593e+12
2,115253,0,0,1,0,0,0,0,0,0,...,100.0,87.0,1.0,2.0,19.332829,-99.152913,116.138123,4425.701226,2.763769e+06,5.488593e+12
3,299321,0,0,1,0,0,0,0,0,0,...,86.0,86.0,2.0,2.0,16.860487,-99.878383,116.138123,4425.701226,2.763769e+06,5.488593e+12
4,173570,1,0,0,0,0,0,0,0,0,...,76.0,80.0,1.0,1.0,19.640482,-99.127273,193.814888,9797.989886,2.398158e+06,3.997227e+12

In [80]:
pred_a_kaggle = xg_reg.predict(test_set)

In [81]:
pred_a_kaggle

array([6838871. , 1180581.5, 1284222. , ..., 1435445.9, 1261459.6,
       3466000.2], dtype=float32)

In [82]:
df_a_kaggle = pd.DataFrame()
df_a_kaggle['id'] = test_set['id']
df_a_kaggle['target'] = pred_a_kaggle
df_a_kaggle.head()

       id        target
0    4941  6.838871e+06
1   51775  1.180582e+06
2  115253  1.284222e+06
3  299321  1.246735e+06
4  173570  5.120127e+05

Por alguna razon estan duplicados las filas. Debe haber un error en la generacion del csv. Habra que verificar

In [83]:
df_a_kaggle = df_a_kaggle.drop_duplicates("id")

In [84]:
len(df_a_kaggle)

60000

In [85]:
df_a_kaggle.to_csv("subir_a_kaggle", header = True, index = False)